/** HEADER **/
$main-header: #003d6c;
$header-height: 85px;
$bg-sidebar: #e8e8e8;

/** FOOTER **/
$footer-background: #bcbdc0;

/** SIDEBAR **/
$btn-sidebar: rgb(237, 119, 26);
$btn-light-sidebar: rgb(236, 156, 94);
$text-sidebar: #565353;
$text-sidebar-hover: #4d984d;
$gray3-utp: #c5c4c4;

/** MODAL **/
$modal-btn-cancel: #c5c4c4;
$modal-btn-ok: rgb(0, 62, 105);
$modal-btn-ok-light: rgb(0, 131, 201);

/** Breakpoints **/
$breakpoint-mobile: 991px;
